asgiref==3.8.1
autopep8==2.13.0
dj-database-url==2.3.0
Django==5.2.1
django-environ==0.11.2
gunicorn==23.0.0
pycodestyle==2.13.0
python-dotenv==1.0.1
pytz==2025.2
requests==2.32.3
sqlparse==0.5.1
toml==0.10.2
whitenoise==6.9.0
